<section class="tech-stack section" *transloco="let t">
  <div class="container">
    <div class="sec-head" appReveal>
      <div class="sec-head__kicker">{{ t('tech_stack.kicker') }}</div>
      <h2 class="sec-head__title">{{ t('tech_stack.heading') }}</h2>
    </div>

    <div class="stack-cols">
      @for (cat of categories; track cat.name; let i = $index) {
        <div class="stack-col" appReveal [revealDelay]="i * 80" data-testid="stack-category">
          <div class="stack-col__label">{{ cat.name }}</div>
          <ul class="stack-col__list">
            @for (item of cat.items; track item) {
              <li class="stack-col__item">{{ item }}</li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</section>
