<section class="projects-preview section" *transloco="let t">
  <div class="container">
    <h2 class="projects-preview__heading">{{ t('projects_preview.heading') }}</h2>
    <ul class="projects-preview__grid" data-testid="project-cards">
      @for (project of projects; track project.slug) {
        <li class="project-card" data-testid="project-card">
          <h3 class="project-card__title">{{ project.title }}</h3>
          <p class="project-card__description">{{ project.description }}</p>
          <ul class="project-card__stack">
            @for (tech of project.stack; track tech) {
              <li class="project-card__tech">{{ tech }}</li>
            }
          </ul>
          <a
            [routerLink]="['/projects', project.slug]"
            class="project-card__link"
            data-testid="project-link"
            [attr.aria-label]="t('projects_preview.aria_view') + ' ' + project.title"
          >
            {{ t('projects_preview.view_project') }}
          </a>
        </li>
      }
    </ul>
    <a routerLink="/projects" class="projects-preview__all" data-testid="all-projects-link">
      {{ t('projects_preview.view_all') }}
    </a>
  </div>
</section>
